name: Hello Workflow

on:
  push:
    branches:
      - main

jobs:
  hello:
    runs-on: ubuntu-latest
    env:
      GREETING: "Hello from env variable"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Show environment variable
        run: echo $GREETING

      - name: Step with step-level env
        env:
          STEP_VAR: "I exist only in this step"
        run: echo "Step variable is $STEP_VAR"
        
      - name: Show current directory
        run: pwd

      - name: List repository files
        run: ls

      - name: Set static output value
        id: set_value
        run: echo "my_output=123" >> $GITHUB_OUTPUT

      - name: Generate dynamic value
        id: generate
        env:
          STEP_VAR: "Dynamic123"
        run: echo "my_output=$STEP_VAR" >> $GITHUB_OUTPUT

      - name: Say hello
        run: echo "Hello from GitHub Actions"

    outputs:
      STATIC_VALUE: ${{ steps.set_value.outputs.my_output }}
      DYNAMIC_VALUE: ${{ steps.generate.outputs.my_output }}

  second-job:
    needs: hello
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Show static value from first job
        run: |
          echo "Static value from hello job: ${{ needs.hello.outputs.STATIC_VALUE }}"

      - name: Show dynamic value from first job
        run: |
          echo "Dynamic value from hello job: ${{ needs.hello.outputs.DYNAMIC_VALUE }}"

      - name: List files in second job
        run: ls

      - name: Say hello from second job
        run: echo "Hello from second job"
